/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

@font-face {
  font-family: 'Suisse Intl';
  src: url("/f/hinted-SuisseIntl.eot");
  src: url("/f/hinted-SuisseIntl.eot?#iefix") format("embedded-opentype"), url("/f/hinted-SuisseIntl.woff") format("woff"), url("/f/hinted-SuisseIntl.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  left: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

body {
  font: 80% 'Suisse Intl', Helvetica, sans-serif;
  color: black; }
  @media (max-width: 599px) {
    body {
      font-size: 100%; } }

@keyframes slideRight {
  0% {
    left: -100%; }
  50% {
    left: 50px; }
  100% {
    left: 50px; } }

@media (max-width: 599px) {
  @keyframes slideRight {
    0% {
      left: -100%; }
    50% {
      left: 15px; }
    100% {
      left: 15px; } } }

@keyframes slideLeft {
  0% {
    right: -100%; }
  50% {
    right: 45px; }
  100% {
    right: 45px; } }

@media (max-width: 599px) {
  @keyframes slideLeft {
    0% {
      right: -100%; }
    50% {
      right: 15px; }
    100% {
      right: 15px; } } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 1; } }

header {
  position: fixed;
  z-index: 9000; }
  @media (max-width: 599px) {
    header {
      height: 45px;
      background: white;
      width: 100%;
      z-index: 6000; } }
  header .logo--complex {
    position: fixed;
    top: 15px;
    left: 15px;
    animation: slideRight 3s;
    width: 60px; }
    @media (min-width: 600px) {
      header .logo--complex {
        width: 80px;
        top: 30px;
        left: 50px; } }

.logo--originals {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 60px;
  animation: slideLeft 3s;
  z-index: 1; }
  @media (min-width: 600px) {
    .logo--originals {
      width: 80px;
      top: 30px;
      right: 45px; } }

section {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  section.splash {
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center; }
    section.splash h1 {
      color: black;
      font-size: 6em; }
      @media (max-width: 599px) {
        section.splash h1 {
          font-size: 3em; } }
  section.intro {
    background: white;
    position: relative;
    text-align: center;
    height: 100vh;
    max-height: 100vh; }
    @media (min-width: 600px) {
      section.intro {
        margin-top: -50vh;
        background: transparent; } }
    @media (max-width: 599px) {
      section.intro {
        height: auto;
        display: block;
        max-height: none; } }
    section.intro .intro__content--video {
      width: 100%;
      height: auto;
      max-width: 800px;
      position: relative;
      left: -100%;
      -webkit-transform: translate3d(0, 0, 0); }
      section.intro .intro__content--video img {
        max-width: 100%; }
      @media (max-width: 599px) {
        section.intro .intro__content--video {
          top: 0;
          position: static; } }
    section.intro .intro__content--text {
      position: absolute;
      right: 50px;
      top: 100%; }
      @media (min-width: 600px) {
        section.intro .intro__content--text {
          opacity: 0; } }
      @media (max-width: 599px) {
        section.intro .intro__content--text {
          top: 0;
          position: static;
          margin: 15px; } }
      section.intro .intro__content--text p {
        max-width: 600px;
        text-align: left;
        font-size: 2em;
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px; }
        @media (max-width: 599px) {
          section.intro .intro__content--text p {
            font-size: 1.2em; } }
  section.history .history__timeline {
    overflow: hidden;
    height: 100vh;
    background: #eee; }
    @media (max-width: 599px) {
      section.history .history__timeline {
        height: auto;
        background: #fff; } }
    section.history .history__timeline .history__timeline__inner {
      height: 100%;
      text-align: left;
      font-size: 2em;
      position: relative;
      width: 6200px;
      background-position: center center;
      background-image: url(/i/timelineBar.jpg);
      background-size: 30px 5px;
      background-repeat: repeat-x; }
      section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--intro {
        width: 820px;
        padding-left: 200px;
        padding-right: 50px;
        background: #eee;
        height: 100%; }
        @media (max-width: 599px) {
          section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--intro {
            background: white; } }
        section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--intro .history__timeline__inner__block--intro__wrapper {
          position: relative;
          top: 50%;
          transform: translateY(-50%); }
          @media (max-width: 599px) {
            section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--intro .history__timeline__inner__block--intro__wrapper {
              position: static;
              top: 0;
              transform: translateY(0%);
              padding-top: 30px;
              background: white; } }
        @media (max-width: 599px) {
          section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--intro {
            font-size: 0.32em;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
            overflow: visible; } }
        @media (max-width: 599px) {
          section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--intro {
            margin-left: 0;
            margin-top: 0;
            width: auto; } }
        section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--intro h2 {
          text-decoration: underline;
          margin-bottom: 20px;
          font-size: 1em; }
        section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--intro p {
          margin-bottom: 20px; }
      section.history .history__timeline .history__timeline__inner .history__timeline__inner__block {
        display: inline-block;
        vertical-align: top; }
        @media (max-width: 599px) {
          section.history .history__timeline .history__timeline__inner .history__timeline__inner__block {
            display: block; } }
      section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--images {
        width: 1000px;
        height: 100%;
        padding: 0 300px; }
        @media (max-width: 599px) {
          section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--images {
            position: static;
            transform: translateY(0);
            display: block;
            max-width: 100%;
            padding: 0; } }
        section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--images span {
          position: relative;
          top: 40px;
          font-size: 0.6em;
          left: 50%; }
        section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--images img {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          max-width: 600px; }
          @media (max-width: 599px) {
            section.history .history__timeline .history__timeline__inner .history__timeline__inner__block--images img {
              position: static;
              transform: translateY(0);
              max-width: 100%; } }
      @media (max-width: 599px) {
        section.history .history__timeline .history__timeline__inner {
          width: auto;
          font-size: 4em;
          height: auto; } }
  section.creatives {
    display: block;
    max-height: 400vh;
    position: relative;
    text-align: left; }
    @media (max-width: 599px) {
      section.creatives {
        max-height: none;
        height: auto;
        min-height: 0;
        margin-bottom: 60px; } }
    section.creatives .creatives__block {
      width: 100vw;
      max-width: 1200px;
      margin: 0 auto;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: none;
      opacity: 0; }
      @media (max-width: 599px) {
        section.creatives .creatives__block {
          position: static;
          display: block;
          opacity: 1;
          height: auto; } }
      section.creatives .creatives__block:nth-child(1) {
        display: flex;
        opacity: 1; }
      section.creatives .creatives__block.creatives__block--photos {
        display: none; }
      section.creatives .creatives__block .creatives__block__inner {
        padding: 15px 45px;
        position: relative; }
        section.creatives .creatives__block .creatives__block__inner a {
          text-decoration: none; }
        @media (max-width: 599px) {
          section.creatives .creatives__block .creatives__block__inner {
            padding: 50px; } }
      section.creatives .creatives__block .creative__tooltip {
        display: block;
        position: fixed;
        z-index: 99999999;
        color: #fff;
        font-size: 1.6em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
        display: none;
        -webkit-transform: translate3d(0, 0, 100px); }
        @media (max-width: 599px) {
          section.creatives .creatives__block .creative__tooltip {
            display: block !important;
            position: static !important;
            text-align: left;
            color: black;
            z-index: 5000;
            -webkit-transform: translate3d(0, 0, 0); } }
      section.creatives .creatives__block img {
        width: 100%;
        height: auto;
        box-shadow: 30px 30px 10px 10px rgba(0, 0, 0, 0.2);
        transform-style: preserve-3d;
        will-change: transform; }
        section.creatives .creatives__block img:hover ~ .creative__tooltip {
          display: block; }
    section.creatives .creatives__block--intro {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 610px;
      font-size: 0.9em; }
      @media (max-width: 599px) {
        section.creatives .creatives__block--intro {
          font-size: 0.68em;
          text-align: left;
          padding: 0 15px; } }
  section h1 {
    font-size: 3em; }
    @media (min-width: 600px) {
      section h1 {
        font-size: 6em; } }
  section .section__content {
    max-width: 800px; }
    section .section__content h2 {
      font-size: 2em;
      text-decoration: underline;
      margin-bottom: 20px; }
    section .section__content p {
      font-size: 2em;
      margin-bottom: 20px; }

section.creative {
  margin-bottom: 50px;
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 180px; }
  @media (max-width: 599px) {
    section.creative {
      display: block;
      padding: 0 15px; } }
  section.creative .section__content {
    max-width: 50%;
    padding: 0 30px;
    text-align: left;
    padding-top: 45px; }
    @media (max-width: 599px) {
      section.creative .section__content {
        width: 100%;
        max-width: 100%;
        padding: 0;
        font-size: 0.7em; } }
    section.creative .section__content h2 {
      font-size: 2em; }
    section.creative .section__content p {
      font-size: 1.8em; }
    @media (max-width: 599px) {
      section.creative .section__content .videoWrapper {
        display: none; } }
  section.creative .section__gallery {
    max-width: 40%;
    overflow: hidden;
    height: auto;
    padding: 0 30px;
    padding-top: 60px; }
    @media (min-width: 1800px) {
      section.creative .section__gallery {
        max-width: 50%; } }
    @media (max-width: 599px) {
      section.creative .section__gallery {
        width: 100%;
        max-width: 100%;
        display: none; } }
  section.creative .section__gallery__wrapper {
    position: relative;
    max-width: 1080px;
    width: 50vw;
    margin: 0 auto; }
    section.creative .section__gallery__wrapper .section__gallery__wrapper__slide {
      position: absolute;
      top: 0;
      margin: 0 auto;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden; }
      section.creative .section__gallery__wrapper .section__gallery__wrapper__slide img {
        left: 0;
        right: auto;
        width: auto;
        height: 100%;
        bottom: 0;
        position: absolute; }
    section.creative .section__gallery__wrapper .placeholder {
      display: block;
      padding-bottom: 90%;
      max-width: 200px; }

section.creative--2 .section__content {
  padding-top: 60px; }
  @media (max-width: 599px) {
    section.creative--2 .section__content {
      padding: 0; } }

section.creative--2 .section__gallery {
  padding: 0 30px;
  padding-top: 60px; }

section.creative--4 .section__content {
  padding-top: 60px; }
  @media (max-width: 599px) {
    section.creative--4 .section__content {
      padding: 0; } }

section.creative--4 .section__gallery {
  padding: 0 30px;
  padding-top: 60px; }

section.creator .section__content {
  text-align: left; }
  @media (max-width: 599px) {
    section.creator .section__content {
      font-size: 0.7em;
      padding: 15px; } }

section.creator .section__content .videoWrapper {
  margin-top: 30px; }

section.creative__video {
  margin-bottom: 80px; }
  @media (max-width: 599px) {
    section.creative__video {
      display: none; } }

section.creative__video .section__content {
  width: 800px; }

@media (max-width: 599px) {
  section.studioVideo {
    height: auto;
    min-height: 0; } }

section.studioVideo .section__content {
  height: 100vh;
  width: 100vw;
  max-width: 100%; }
  @media (max-width: 599px) {
    section.studioVideo .section__content {
      height: auto;
      min-height: 0; } }

section.creative__video__mobile {
  display: none; }
  @media (max-width: 599px) {
    section.creative__video__mobile {
      display: block;
      max-width: 100%;
      margin-bottom: 0;
      height: auto;
      min-height: 0;
      margin-bottom: 30px; }
      section.creative__video__mobile .section__content {
        width: 100%; } }

.products {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background: white;
  display: block;
  text-decoration: none;
  color: white;
  margin: 30px 0;
  position: relative; }
  .products .products__slide {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .products .slide1 {
    background: url(/i/products-1.jpg) no-repeat center bottom fixed;
    background-size: cover; }
    @media (max-width: 599px) {
      .products .slide1 {
        background-attachment: scroll; } }
  .products .slide2 {
    background: url(/i/products-2.jpg) no-repeat center bottom fixed;
    background-size: cover; }
  .products .slide3 {
    background: url(/i/products-3.jpg) no-repeat center bottom fixed;
    background-size: cover; }
  .products .slide4 {
    background: url(/i/products-4.jpg) no-repeat center bottom fixed;
    background-size: cover; }
  .products .slide5 {
    background: url(/i/products-5.jpg) no-repeat center bottom fixed;
    background-size: cover; }
  .products .slide6 {
    background: url(/i/products-6.jpg) no-repeat center bottom fixed;
    background-size: cover; }
  .products .slide7 {
    background: url(/i/products-7.jpg) no-repeat center bottom fixed;
    background-size: cover; }
  .products .slide8 {
    background: url(/i/products-8.jpg) no-repeat center bottom fixed;
    background-size: cover; }
  .products h2 {
    color: white;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    font-size: 4em;
    text-decoration: none; }
  .products .collection__tooltip {
    display: none; }
    @media (max-width: 599px) {
      .products .collection__tooltip {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        color: #007fc3;
        font-size: 1.4em; } }
  .products:hover .collection__tooltip {
    display: block;
    position: fixed;
    color: #007fc3;
    font-size: 1.4em; }
    @media (max-width: 599px) {
      .products:hover .collection__tooltip {
        position: absolute; } }

#conclusion {
  height: calc(100vh - 55px);
  min-height: 0; }

section.conclusion .section__content {
  font-size: 1.6em;
  max-width: 1200px;
  margin: 0 auto; }
  section.conclusion .section__content span {
    opacity: 0; }
  @media (max-width: 599px) {
    section.conclusion .section__content {
      font-size: 0.7em;
      padding: 0 15px; } }

hr {
  height: 1px; }

footer {
  padding: 20px 0;
  width: 100vw;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 0.9em; }
  @media (max-width: 599px) {
    footer {
      padding: 20px 10px;
      font-size: 0.8em; } }
  footer a {
    color: #fff; }
    footer a:hover {
      text-decoration: none; }

nav {
  position: fixed;
  left: -275px;
  top: 0;
  height: 100%;
  background: #aaa;
  z-index: 8000;
  width: 300px;
  overflow: hidden;
  padding: 75px 30px 30px 50px;
  font-size: 1.2em; }
  @media (max-width: 599px) {
    nav {
      left: 0;
      width: 100%;
      top: -100%;
      padding: 60px 30px 30px 15px; } }
  @media (min-width: 600px) {
    nav::after {
      content: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im00MC40LDEyMS4zYy0wLjgsMC44LTEuOCwxLjItMi45LDEuMnMtMi4xLTAuNC0yLjktMS4yYy0xLjYtMS42LTEuNi00LjIgMC01LjhsNTEtNTEtNTEtNTFjLTEuNi0xLjYtMS42LTQuMiAwLTUuOCAxLjYtMS42IDQuMi0xLjYgNS44LDBsNTMuOSw1My45YzEuNiwxLjYgMS42LDQuMiAwLDUuOGwtNTMuOSw1My45eiIgZmlsbD0iIzAwMDAwMCIvPgogIDwvZz4KPC9zdmc+Cg==);
      position: absolute;
      right: 0px;
      top: 50%; }
    nav:hover::after {
      content: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im04OC42LDEyMS4zYzAuOCwwLjggMS44LDEuMiAyLjksMS4yczIuMS0wLjQgMi45LTEuMmMxLjYtMS42IDEuNi00LjIgMC01LjhsLTUxLTUxIDUxLTUxYzEuNi0xLjYgMS42LTQuMiAwLTUuOHMtNC4yLTEuNi01LjgsMGwtNTQsNTMuOWMtMS42LDEuNi0xLjYsNC4yIDAsNS44bDU0LDUzLjl6IiBmaWxsPSIjMDAwMDAwIi8+CiAgPC9nPgo8L3N2Zz4K); } }
  nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block; }
    nav a:hover span {
      text-decoration: underline; }

.showNav {
  position: fixed;
  left: 0;
  right: 0;
  top: 15px;
  z-index: 7000;
  margin: 0 auto;
  text-align: center;
  width: 50px;
  display: none; }
  @media (max-width: 599px) {
    .showNav {
      display: block; } }

.hideNav {
  width: 50px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 15px;
  display: none; }
  @media (max-width: 599px) {
    .hideNav {
      display: block; } }
